<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Pogodynka </title>
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="Description" content="pogodynka uek">
    <script src="./index_files/js" async=""></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link href="./index_files/app-7d0f37602d49481903a5.css" rel="stylesheet">
    <style type="text/css"></style>
    <link rel="stylesheet" type="text/css" href="./index_files/forecast-58c76ea2846feacb761d.css">
    <script>
        window.dataLayer = window.dataLayer || [];

        window.gtag = function() {
            dataLayer.push(arguments);
        }

        gtag('js', new Date());
        gtag('config', 'UA-161446294-1');

    </script>
    <style>
        html,
        body {
            width: 100%;
            height: 100%;
            margin: 0;
            padding: 0;
            overflow: auto;
        }

        html {
            font-size: 16px;
            box-sizing: border-box;
            -moz-box-sizing: border-box;
        }

        *,
        *:before,
        *:after {
            box-sizing: inherit;
        }

        body {
            font-family: sans-serif;
            font-size: 16px;
            font-weight: 400;
            line-height: 1.5;
            color: #353539;
            background-color: #FFFFFF;
        }

        .pre-app {
            display: flex;
            width: 100%;
            height: 100%;
            align-items: center;
            justify-content: center;
        }

        .pre-app__body {
            width: auto;
            text-align: center;
        }

        .pre-app__logo {
            display: block;
        }

        .pre-app__title-block {
            margin-top: 2rem;
        }

        .pre-app__title {
            font-weight: bold;
        }

        .dropdown-list {
            position: absolute;
            background-color: rgba(238, 238, 238, 0.9);
            border-bottom-right-radius: 10px;
            width: 81%;
            display: none;
        }

        .cities {
            color: black;
        }

        .icon-no-hover:hover {
            background-color: transparent;
        }

        .wholeApp {
            display: yes;
        }

        .city-list {
            margin: 10px 15px;
        }

        .layout__footer {
            position: fixed;
            left: 0;
            bottom: 0;
            width: 100%;
            background: var(--background__colour);
        }

    </style>

</head>

<body data-v-app="">
    <div name="layout" class="layout app transition-theme-change phase--day theme--default">
        <div class="layout__body">
            <div class="weather-layout route forecast-master">
                <div class="route forecast-index transition-theme-change theme--weather-clear" layout="column top-stretch">
                    <div class="container forecast-index__header">
                        <div class="weather-actions" layout="row center-justify">
                            <div class="icon-no-hover icon-button icon-button--horizontal weather-actions__action weather-actions__action--location weather-actions__action weather-actions__action--location" layout="row center-left" data-tooltip="Wybierz miasto" data-tooltip-position="right"><svg class="icon icon--map-pin-line icon-button__icon">
                                    <use xlink:href="/icons.svg#map-pin-line"></use>
                                </svg>
                                <div id="search" class="icon-button__label" self="size-x1">
                                    <div class="search-container">



                                        <form>
                                            <div id="myDropdown" class="dropdown-content">
                                                <input type="text" placeholder="Kraków" id="myInput" onkeyup="filterFunction();showSuggestions();">
                                                <div id="dropdown-list" class="dropdown-list">
                                                    <div class="city-list" v-for="city in cities">
                                                        <a onClick="clickCity(this.textContent)" class="cities" :value="city.City" href="#"> {{city.city_name}} </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <div self="size-x1"></div>

                        </div>
                        <header class="wholeApp forecast-index__summary" layout="column center-stretch">

                            <div class="forecast-summary oneDay">
                                <div layout="row center-justify">
                                    <div>
                                        <div class="forecast-summary__temp"> {{ day.Degree }} °C / {{ day.Night_degree }}°C </div>
                                        <div class="forecast-summary__temp"><small>deszcz {{ day.Chance_for_rain }}%</small></div>
                                        <div class="forecast-summary__description"><small>{{ day.Sky }}</small></div>
                                    </div>
                                    <div><img class="forecast-summary__figure" v-bind:src="'forecastIcons/'+day.Sky+'.png'" alt="sun"></div>
                                </div>
                                <div id="dlaMiasta" class="forecast-summary__last-updated"><small>Dla miasta Kraków</small></div>
                            </div>

                        </header>
                    </div>

                    <div class="wholeApp forecast-index__body" id="oneDay" self="size-x1">
                        <div class="container forecast-index__container">

                            <section class="block forecast-index__block forecast-index__block--today">
                                <div class="block__header" layout="row center-justify">
                                    <div class="block__title">Dzisiaj</div>

                                </div>
                                <div class="block__body oneDay">
                                    <div class="transition-box-resize forecast-today" grid="3">
                                        <div class="forecast-today__observation">
                                            <div class="text--meta"><small>Temp</small></div>
                                            <div>{{ day.Night_degree }} °C/ {{ day.Degree }}°C</div>
                                        </div>
                                        <div class="forecast-today__observation">
                                            <div class="text--meta"><small>Wilgotność powietrza</small></div>
                                            <div>{{ day.Humidity }}%</div>
                                        </div>
                                        <div class="forecast-today__observation">
                                            <div class="text--meta"><small>Szansa opadów</small></div>
                                            <div>{{ day.Chance_for_rain }}% szans</div>
                                        </div>
                                        <div class="forecast-today__observation">
                                            <div class="text--meta"><small>Wschód słońca</small></div>
                                            <div>{{ day.Sunrice }}</div>
                                        </div>
                                        <div class="forecast-today__observation">
                                            <div class="text--meta"><small>Zachód słońca</small></div>
                                            <div>{{ day.SunSet }}</div>
                                        </div>
                                        <div class="forecast-today__observation">
                                            <div class="text--meta"><small>Wiatr</small></div>
                                            <div>{{ day.Wind }} Km/h</div>
                                        </div>
                                    </div>
                                    <div class="margin__top--small text--centre">
                                        <div class="icon-button icon-button--horizontal" layout="row center-left" data-tooltip="Show more detail" data-tooltip-position="top"><svg class="icon icon--arrow-down-s-line icon-button__icon">
                                                <use xlink:href="/icons.svg#arrow-down-s-line"></use>
                                            </svg>
                                            <!--v-if-->
                                        </div>
                                    </div>
                                </div>
                            </section>


                            <section class="block forecast-index__block forecast-index__block--daily-forecast">
                                <div class="block__header" layout="row center-justify">
                                    <div class="block__title">7 dniowa</div><button id="buttonChange" onClick="changeCF()" value="C">zmień na F</button>
                                    <!--v-if-->
                                </div>
                                <div class="block__body" id="app">
                                    <div class="accordion forecast-daily">
                                        <table class="forecast-daily__days">
                                            <!-- v-for="element in weatherstats" -->
                                            <tbody v-for="element in weatherstats" class="forecast-daily__day">
                                                <tr class="forecast-daily__day-header menu-item">
                                                    <td class="forecast-daily__day-column forecast-daily__day-column--icon">
                                                         <div><img class="forecast-summary__figure" v-bind:src="'forecastIcons/'+day.Sky+'.png'" alt="sun"></div>
                                                    </td>

                                                    <td class="forecast-daily__day-column forecast-daily__day-column--label">
                                                        <div>{{ element.day }}</div>
                                                        <div class="text--meta text--tight">
                                                            <small>{{ element.Sky }}</small></div>
                                                    </td>

                                                    <td class="forecast-daily__day-column forecast-daily__day-column--precip">
                                                        <div layout="row center-right" style="opacity: 0.51; width=150%;">
                                                            <div class="text--meta">{{ element.Chance_for_rain }} %</div><svg class="icon icon--drop-fill forecast-daily__precip-icon" style="opacity: 0.51; height=30px;">
                                                                <img src="forecastIcons/drop.png" style="opacity: 0.21; height=30px;">
                                                            </svg>
                                                        </div>
                                                    </td>

                                                    <td class="forecast-daily__day-column forecast-daily__day-column--min">{{ element.Night_degree }}</td>

                                                    <td class="forecast-daily__day-column forecast-daily__day-column--max">{{ element.Degree }}</td>
                                                </tr>

                                                <tr class="forecast-daily__day-body">
                                                    <td colspan="5">
                                                        <div class="transition-box-resize accordion-pane"></div>
                                                    </td>
                                                </tr>
                                            </tbody>

                                        </table>
                                    </div>
                                </div>
                            </section>

                            <section class="block forecast-index__block forecast-index__block--hourly-forecast" style="margin-bottom: 100px;">
                                <div class="block__header" layout="row center-justify">
                                    <div class="block__title">Godzinowa</div>

                                </div>
                                <div class="block__body">
                                    <div class="forecast-hourly">
                                        <div class="forecast-hourly__header" layout="row center-justify">
                                            <div id="Temperature" self="size-x1">Temperature (°C)</div>

                                        </div>
                                        <div class="trends-chart">
                                            <div id="stopnie">
                                                <canvas id="line-chart" width="800" height="250"></canvas>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>


                        </div>
                    </div>
                </div>
            </div>
            <footer class="layout__footer">
                <nav class="app__nav">
                    <div class="container app__nav-container" layout="row center-stretch" grid="3">
                        <a href="index.html" class="router-link-active router-link-exact-active app__route" aria-current="page">
                            <div class="icon-button icon-button--vertical app__route-button app__route-button" layout="row center-left">

                                <div class="icon-button__label" self="size-x1">
                                    <medium>Pogoda 7 dniowa</medium>
                                </div>
                            </div>
                        </a><a href="longterm.html" class="app__route">
                            <div class="icon-button icon-button--vertical app__route-button app__route-button" layout="row center-left">
                                <div class="icon-button__label" self="size-x1"><small>Pogoda długoterminowa</small></div>
                            </div>
                        </a><a href="moon.html" class="app__route">
                            <div class="icon-button icon-button--vertical app__route-button app__route-button" layout="row center-left">
                                <div class="icon-button__label" self="size-x1"><small>Fazy księżyca</small></div>
                            </div>
                        </a></div>
                </nav>
            </footer>
            <!--v-if-->
            <!--v-if-->
        </div>
        <!--v-if-->

    </div>
    <script>
        new Vue({
            el: '#app',
            data() {
                return {
                    weatherstats: [],
                };
            },
            mounted: function() {
                //https://my.api.mockaroo.com/dane_pogodowe_tydzien.json?key=e505e090 // KM dane_pogodowe_tydzien
                //https://my.api.mockaroo.com/dane_pogodowe_tydzien.json?key=e46b7050
                axios
                    .get('https://my.api.mockaroo.com/dane_pogodowe_tydzien.json?key=e46b7050')
                    .then(response => this.weatherstats = response.data)
            },
        });

        new Vue({
            el: '#search',
            data() {
                return {
                    cities: [],
                };
            },
            mounted: function() {
                axios
                    .get('https://api.mockaroo.com/api/7f44b6d0?count=1000&key=e46b7050')
                    .then(response => this.cities = response.data)
            },
        });


        let elements = document.getElementsByClassName('oneDay');
        for (let i = 0; i < elements.length; i++) {
            new Vue({
                el: elements[i],
                data() {
                    return {
                        day: [],
                    };
                },
                mounted: function() {
                    //https://my.api.mockaroo.com/dane_pogodowe_dzien.json?key=e505e090 //KM one_day
                    //https://my.api.mockaroo.com/pogodowe_dane_dzien.json?key=e46b7050
                    axios
                        .get('https://my.api.mockaroo.com/pogodowe_dane_dzien.json?key=e46b7050')
                        .then(response => this.day = response.data)
                },
            });

            new Vue({
            el: '#stopnie',
            data () {
                return {
                    chartData: [],
                };
            },
             mounted() {
    fetch("https://my.api.mockaroo.com/wykresik.json?key=7c024fa0")
      .then((response) => response.json())
      .then((data) => (this.chartData = data))
      .then(() => this.renderChart());
  },
  methods: {
    renderChart() {
      console.log(this.chartData);
      const ctx = document.getElementById("line-chart");
      new Chart(ctx, {
        type: "line",
        data: {
          labels: this.chartData.map((d) => d.dates),
          datasets: [
            {
              label: "Temperatura",
              data: this.chartData.map((d) => d.temps),
              backgroundColor: "#ff4500",
              borderColor: "#ff4500",
              borderWidth: 2,
            },
          ],
        },
		options: {
    scales: {
      yAxes: [{
        ticks: {
          beginAtZero: true
        }
      }]
    }
  },
      });
    },
  },
        });


        }

        function filterFunction() {
            var input, filter, ul, li, a, i;
            input = document.getElementById("myInput");
            filter = input.value.toUpperCase();
            div = document.getElementById("myDropdown");
            a = div.getElementsByTagName("a");
            for (i = 0; i < a.length; i++) {
                txtValue = a[i].textContent || a[i].innerText;
                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    a[i].style.display = "";
                } else {
                    a[i].style.display = "none";
                }
            }
        }

        function clickCity(content) {
            console.log(content);
            var input = document.getElementById("myInput");
            input.value = content;
            var miasto = document.getElementById("dlaMiasta");
            miasto.innerHTML = "<small>Dla miasta " + content + "</small>";
            var list = document.getElementsByClassName("wholeApp");
            for (var i = 0; i < list.length; i++) {
                list[i].style.display = "block";
            }
            document.getElementById("dropdown-list").style.display = "none";
            document.getElementsByClassName("forecast-summary__last-updated").innerHTML = content;
        }

        function showSuggestions() {
            document.getElementById("dropdown-list").style.display = "block";
        }

        function changeCF() {
            var btn = document.getElementById("buttonChange");
            var temperature = document.getElementById("Temperature");


            if (btn.value === "C") {
                btn.value = "F";
                btn.innerHTML = "Zmień na C";
                temperature.innerHTML = "Temperature (°F)";
            } else if (btn.value === "F") {
                btn.value = "C";
                btn.innerHTML = "Zmień na F";
                temperature.innerHTML = "Temperature (°C)";
            }
            var list = document.getElementsByClassName("tempToChange");
            for (var i = 0; i < list.length; i++) {
                if (btn.value === "F") {
                    var tempC = list[i].textContent;
                    var tempF = Math.round(parseInt(tempC) * 1.8 + 32);
                    list[i].innerHTML = tempF;
                } else if (btn.value === "C") {
                    var currentTemp = list[i].textContent;
                    var tempC = Math.round(parseInt((currentTemp) - 32) / 1.8);
                    list[i].innerHTML = tempC;
                }

            }
        }

    </script>
</body>

</html>
