<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Pogodynka </title>
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="Description" content="pogodynka uek">
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="./index_files/js" async=""></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        window.gtag = function() {
            dataLayer.push(arguments);
        }

        gtag('js', new Date());
        gtag('config', 'UA-161446294-1');

    </script>
	<link href="./index_files/app-7d0f37602d49481903a5.css" rel="stylesheet">
    <style type="text/css"></style>
    <link rel="stylesheet" type="text/css" href="./index_files/forecast-58c76ea2846feacb761d.css">
     <style>
        html,
        body {
            width: 100%;
            height: 100%;
            margin: 0;
            padding: 0;
            overflow: auto;
        }

        html {
            font-size: 16px;
            box-sizing: border-box;
            -moz-box-sizing: border-box;
        }

        *,
        *:before,
        *:after {
            box-sizing: inherit;
        }

        body {
            font-family: sans-serif;
            font-size: 16px;
            font-weight: 400;
            line-height: 1.5;
            color: #353539;
            background-color: #FFFFFF;
        }

        .pre-app {
            display: flex;
            width: 100%;
            height: 100%;
            align-items: center;
            justify-content: center;
        }

        .pre-app__body {
            width: auto;
            text-align: center;
        }

        .pre-app__logo {
            display: block;
        }

        .pre-app__title-block {
            margin-top: 2rem;
        }

        .pre-app__title {
            font-weight: bold;
        }
		.dropdown-list {
			position:absolute;
			background-color: rgba(238, 238, 238, 0.9);
			border-bottom-right-radius: 10px;
			width: 81%;
			display: none;
		}
		.wholeApp {
			display: yes;
		}
		.cities {
		color: black;
		}
		.icon-no-hover:hover{
		background-color: transparent;
		}

		.city-list {
			margin: 10px 15px;
		}
		.layout__footer {
			position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background: var(--background__colour);
		}
		.icon-button--horizontal:hover{
			background: transparent;
		}
	.phaseTable {
		margin-bottom: 80px;
	}
	
	.imgMoons {
		border-bottom: 1px solid #5d9be5;
	}
	.thead {
		border-bottom: 1px solid #5d9be5;
	}
	td {
		text-align: center;
		font-weight: bold;
		}
    </style>

</head>
<body  data-v-app="">
    <div name="layout" class="layout app transition-theme-change phase--day theme--default">
        <div class="layout__body">
            <div class="weather-layout route forecast-master">
                <div class="route forecast-index transition-theme-change theme--weather-clear" layout="column top-stretch">
                    <div class="container forecast-index__header">
                        <div class="weather-actions" layout="row center-justify">
                            <div class="icon-button icon-button--horizontal weather-actions__action weather-actions__action--location weather-actions__action weather-actions__action--location" layout="row center-left" data-tooltip="Set location" data-tooltip-position="right"><svg class="icon icon--map-pin-line icon-button__icon">
                                    <use xlink:href="/icons.svg#map-pin-line"></use>
                                </svg>
                                <div id="search" class="icon-button__label" self="size-x1">
                                    <div class="search-container">
                                        <form>
                                           <div id="myDropdown" class="dropdown-content">
												<input type="text" placeholder="Search.." id="myInput"  onkeyup="filterFunction();showSuggestions();">
												   <div id="dropdown-list" class="dropdown-list">
													<div class="city-list" v-for="city in cities">
														<a onClick="clickCity(this.textContent)" class="cities" :value="city.City"href="#"> {{city.City}} </a>
													</div>
												</div>
											  </div>
                                        </form>
                                      </div>
                                </div>
                            </div>
                            <div self="size-x1"></div>
                            <div class="icon-button icon-button--horizontal weather-actions__action weather-actions__action--update weather-actions__action weather-actions__action--update" layout="row center-left" data-tooltip="Update" data-tooltip-position="left"><svg class="icon icon--refresh-line icon-button__icon">
                                    <use xlink:href="/icons.svg#refresh-line"></use>
                                </svg>
                            </div>
                        </div>
                        <header class="wholeApp forecast-index__summary" layout="column center-stretch">
                            <div class="forecast-summary">
                                <div layout="row center-justify">
                                    <div>
                                        <div class="forecast-summary__temp"> 22°C / 1°C </div>
                                        <div class="forecast-summary__temp"><small>deszcz 0%</small></div>
                                        <div class="forecast-summary__description"><small>Bezchmurnie</small></div>
                                    </div>
                                    <div><img class="forecast-summary__figure" src="forecastIcons/sun.png" alt="sunny"></div>
                                </div>
                                <div class="forecast-summary__last-updated"><small>Dla miasta Kraków</small></div>
                            </div>
                        </header>



                    </div>
                    <div class="wholeApp forecast-index__body" self="size-x1">
                        <div class="container forecast-index__container">

                            <section class="block forecast-index__block forecast-index__block--daily-forecast" style="margin-bottom: 100px; margin-top: 50px">
                                <div class="block__header" layout="row center-justify">
                                    <div class="block__title">Fazy księżyca</div>
                                    <!--v-if-->
                                    <button class="btnTable" id="buttonChange" onClick="changeKM()" value="KM">Kilometry -> Mile</button>
                                </div>
                                <div class="block__body" id="app">
                                    <div class="accordion forecast-daily">
                                        <table class="forecast-daily__days" id="phases">
                                                    <!-- v-for="element in moonInfos"  -->
                                            <tbody v-for="element in moonInfos" class="forecast-daily__day">
                                                <tr class="forecast-daily__day-header menu-item">
                                                    <td class="forecast-daily__day-column forecast-daily__day-column--icon">
                                                        <svg class="icon icon--sun-line">
                                                            <use xlink:href="/icons.svg#sun-line"></use>
                                                        </svg></td>
                                                    
                                                    <td class="forecast-daily__day-column forecast-daily__day-column--label">
                                                        <div>{{ element.faza }}</div>
                                                        <div class="text--meta text--tight">
                                                            <small>{{ element.data }}</small></div>
                                                    </td>
                                                    <td class="forecast-daily__day-column forecast-daily__day-column--max rangeTo" >{{ element.odleglosc}} km</td>
                                                    
                                                    <td class="forecast-daily__day-column forecast-daily__day-column--precip">
                                                        <div layout="row center-right"  style="opacity: 0.91; width=30%;">
                                                                <img class="forecast-summary__figure" v-bind:src="'moonphases/'+element.faza+'.png'" alt="moon phase" tyle="opacity: 0.21; height:200px;">                                
                                                                
                                                            
                                                        </div>
                                                    </td>
                                                </tr>
                                                
                                                <tr class="forecast-daily__day-body">
                                                    <td colspan="5">
                                                        <div class="transition-box-resize accordion-pane"></div>
                                                    </td>
                                                </tr>
                                            </tbody>
                                            <!--
                                            <tbody  class="forecast-daily__day">
                                                <tr class="forecast-daily__day-header menu-item">
                                                    <td class="forecast-daily__day-column forecast-daily__day-column--icon">
                                                        <svg class="icon icon--sun-line">
                                                            <use xlink:href="/icons.svg#sun-line"></use>
                                                        </svg></td>
                                                    
                                                    <td class="forecast-daily__day-column forecast-daily__day-column--label">
                                                        <div>element.faza </div>
                                                        <div class="text--meta text--tight">
                                                            <small> element.data </small></div>
                                                    </td>
                                                    <td class="forecast-daily__day-column forecast-daily__day-column--max rangeTo"> 8544554 km</td>
                                                    
                                                    <td class="forecast-daily__day-column forecast-daily__day-column--precip">
                                                        <div layout="row center-right"  style="opacity: 0.91; width=30%;">
                                                                                                 
                                                                <img src="forecastIcons/drop.png" style="opacity: 0.21; height:200px;">
                                                            
                                                        </div>
                                                    </td>
                                                </tr>
                                                
                                                <tr class="forecast-daily__day-body">
                                                    <td colspan="5">
                                                        <div class="transition-box-resize accordion-pane"></div>
                                                    </td>
                                                </tr>
                                            </tbody>
                                            
                                            <tbody  class="forecast-daily__day">
                                                <tr class="forecast-daily__day-header menu-item">
                                                    <td class="forecast-daily__day-column forecast-daily__day-column--icon">
                                                        <svg class="icon icon--sun-line">
                                                            <use xlink:href="/icons.svg#sun-line"></use>
                                                        </svg></td>
                                                    
                                                    <td class="forecast-daily__day-column forecast-daily__day-column--label">
                                                        <div>element.faza </div>
                                                        <div class="text--meta text--tight">
                                                            <small> element.data </small></div>
                                                    </td>
                                                    <td class="forecast-daily__day-column forecast-daily__day-column--max"> element.odleglosc km</td>
                                                    
                                                    <td class="forecast-daily__day-column forecast-daily__day-column--precip">
                                                        <div layout="row center-right"  style="opacity: 0.91; width=30%;">
                                                                                                 
                                                                <img src="forecastIcons/drop.png" style="opacity: 0.21; height:200px;">
                                                            
                                                        </div>
                                                    </td>
                                                </tr>
                                                
                                                <tr class="forecast-daily__day-body">
                                                    <td colspan="5">
                                                        <div class="transition-box-resize accordion-pane"></div>
                                                    </td>
                                                </tr>
                                            </tbody>
                                            -->
                                        </table>
                                    </div>
                                </div>
                            </section>

                        </div>
                    </div>
                </div>
            </div>
            <footer class="layout__footer">
                <nav class="app__nav">
                    <div class="container app__nav-container" layout="row center-stretch" grid="3">
                        <a href="index.html" class="app__route" aria-current="page">
                            <div class="icon-button icon-button--vertical app__route-button app__route-button" layout="row center-left">

                                <div class="icon-button__label" self="size-x1"><small>Pogoda 7 dniowa</small></div>
                            </div>
                        </a><a href="longterm.html" class="app__route">
                            <div class="icon-button icon-button--vertical app__route-button app__route-button" layout="row center-left">
                                <div class="icon-button__label" self="size-x1"><small>Pogoda długoterminowa</small></div>
                            </div>
                        </a><a href="moon.html" class="router-link-active router-link-exact-active app__route">
                            <div class="icon-button icon-button--vertical app__route-button app__route-button" layout="row center-left">
                                <div class="icon-button__label" self="size-x1"><small>Fazy księżyca</small></div>
                            </div>
                        </a></div>
                </nav>
            </footer>
            <!--v-if-->
            <!--v-if-->
        </div>
        <!--v-if-->

    </div>
    <script>

		new Vue({
				el: '#search',
			data () {
				return {
					cities: [],
				};
			},
			mounted: function () {
				axios
				.get('https://my.api.mockaroo.com/danepogodowe.json?key=1f164bd0')
                .then(response => this.cities = response.data)
			},

		});
	new Vue({
				el: '#phases',
			data () {
				return {
					moonInfos: [],
				};
			},
			mounted: function () {
				axios
				.get('https://my.api.mockaroo.com/fazyKsiezyca.json?key=1ae58b50')
                .then(response => this.moonInfos = response.data)

			},

		});




  function filterFunction() {
  var input, filter, ul, li, a, i;
  input = document.getElementById("myInput");
  filter = input.value.toUpperCase();
  div = document.getElementById("myDropdown");
  a = div.getElementsByTagName("a");
  for (i = 0; i < a.length; i++) {
    txtValue = a[i].textContent || a[i].innerText;
    if (txtValue.toUpperCase().indexOf(filter) > -1) {
      a[i].style.display = "";
    } else {
      a[i].style.display = "none";
    }
  }
}
function clickCity(content) {
console.log(content);
	var input = document.getElementById("myInput");
	input.value = content;

	var list = document.getElementsByClassName("wholeApp");
	for (var i = 0; i < list.length; i++){
		list[i].style.display="block";
	}
	document.getElementById("dropdown-list").style.display = "none";
}
function showSuggestions() {
	document.getElementById("dropdown-list").style.display = "block";
}
function changeKM() {
	var btn = document.getElementById("buttonChange");
	


	if (btn.value === "KM") {
		btn.value = "MI";
		btn.innerHTML = "Mile -> Kilometry";
	}
	else if (btn.value === "MI"){
		btn.value = "KM";
		btn.innerHTML = "Kilometry -> mile";
	}
	var list = document.getElementsByClassName("rangeTo");
	for (var i = 0; i < list.length; i++) {
    if(btn.value === "KM") {
		var km = list[i].textContent;
		var mi = Math.round(parseInt(km)*1.6);
		list[i].innerHTML = mi;
	}
	else if(btn.value === "MI"){
		var mi = list[i].textContent;
		var km = Math.round(parseInt(mi)/1.6);
		list[i].innerHTML = km;
	}

}
}
setTimeout(function(){ 
	var list = document.getElementsByClassName("imgMoon");

	for (var i = 0; i < list.length; i++){
	var tdContent = list[i].textContent;
		console.log(tdContent);

		if(tdContent == 'Pełnia')
		{
			list[i].innerHTML= '<td><img  class="moonImg" src="./moonphases/Pelnia.png" alt="Nów" /></td>';
			console.log('asda');
		}
		else if(tdContent == "Nów")
		{
			list[i].innerHTML= '<td><img  class="moonImg" src="./moonphases/Now.png" alt="Nów" /></td>';
		}
		else if(tdContent == "Pierwsza kwarta")
		{
			list[i].innerHTML= '<td><img class="moonImg" src="./moonphases/pierwszaKwadra.png" alt="Pierwsza Kwadra" /></td>';
		}
		else if(tdContent == "Ostatnia kwarta")
		{
			list[i].innerHTML= '<td><img class="moonImg" src="./moonphases/ostatniaKwadra.png" alt="Ostatnia Kwadra" /></td>';
		}
		else
		{
			console.log('asasdadassad');
		}

		}
 }, 500);
function setMoonPhase(){

	var list = document.getElementsByClassName("imgMoon");

	for (var i = 0; i < list.length; i++){
	var tdContent = list[i].textContent;
		console.log(tdContent);

		if(tdContent == 'Pełnia')
		{
			list[i].innerHTML= '<td><img src="./moonphases/Pelnia.png" alt="Nów" /></td>';
			console.log('asda');
		}
		else if(tdContent == "Nów")
		{
			list[i].innerHTML= '<td><img src="./moonphases/Now.png" alt="Nów" /></td>';
		}
		else if(tdContent == "Pierwsza kwarta")
		{
			list[i].innerHTML= '<td><img src="./moonphases/pierwszaKwadra.png" alt="Pierwsza Kwadra" /></td>';
		}
		else if(tdContent == "Ostatnia kwarta")
		{
			list[i].innerHTML= '<td><img src="./moonphases/ostatniaKwadra.png" alt="Ostatnia Kwadra" /></td>';
		}
		else
		{
			console.log('asasdadassad');
		}

		}
}
    </script>
</body>

</html>
