[layout] {
    display: flex
}
.sbx-custom {
  display: inline-block;
  position: relative;
  width: 300px;
  height: 51px;
  white-space: nowrap;
  box-sizing: border-box;
  font-size: 14px;
}

.sbx-custom__wrapper {
  width: 100%;
  height: 100%;
}

.sbx-custom__input {
  display: inline-block;
  -webkit-transition: box-shadow .4s ease, background .4s ease;
  transition: box-shadow .4s ease, background .4s ease;
  border: 0;
  border-radius: 26px;
  box-shadow: inset 0 0 0 2px #CCCCCC;
  background: #FFFFFF;
  padding: 0;
  padding-right: 41px;
  padding-left: 51px;
  width: 100%;
  height: 100%;
  vertical-align: middle;
  white-space: normal;
  font-size: inherit;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.sbx-custom__input::-webkit-search-decoration, .sbx-custom__input::-webkit-search-cancel-button, .sbx-custom__input::-webkit-search-results-button, .sbx-custom__input::-webkit-search-results-decoration {
  display: none;
}

.sbx-custom__input:hover {
  box-shadow: inset 0 0 0 2px #b3b3b3;
}

.sbx-custom__input:focus, .sbx-custom__input:active {
  outline: 0;
  box-shadow: inset 0 0 0 2px #FF2E83;
  background: #FFFFFF;
}

.sbx-custom__input::-webkit-input-placeholder {
  color: #BBBBBB;
}

.sbx-custom__input::-moz-placeholder {
  color: #BBBBBB;
}

.sbx-custom__input:-ms-input-placeholder {
  color: #BBBBBB;
}

.sbx-custom__input::placeholder {
  color: #BBBBBB;
}

.sbx-custom__submit {
  position: absolute;
  top: 0;
  right: inherit;
  left: 0;
  margin: 0;
  border: 0;
  border-radius: 25px 0 0 25px;
  background-color: rgba(255, 255, 255, 0);
  padding: 0;
  width: 51px;
  height: 100%;
  vertical-align: middle;
  text-align: center;
  font-size: inherit;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.sbx-custom__submit::before {
  display: inline-block;
  margin-right: -4px;
  height: 100%;
  vertical-align: middle;
  content: '';
}

.sbx-custom__submit:hover, .sbx-custom__submit:active {
  cursor: pointer;
}

.sbx-custom__submit:focus {
  outline: 0;
}

.sbx-custom__submit svg {
  width: 31px;
  height: 31px;
  vertical-align: middle;
  fill: #FF2E83;
}

.sbx-custom__reset {
  display: none;
  position: absolute;
  top: 12px;
  right: 12px;
  margin: 0;
  border: 0;
  background: none;
  cursor: pointer;
  padding: 0;
  font-size: inherit;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  fill: rgba(0, 0, 0, 0.5);
}

.sbx-custom__reset:focus {
  outline: 0;
}

.sbx-custom__reset svg {
  display: block;
  margin: 4px;
  width: 19px;
  height: 19px;
}

.sbx-custom__input:valid ~ .sbx-custom__reset {
  display: block;
  -webkit-animation-name: sbx-reset-in;
          animation-name: sbx-reset-in;
  -webkit-animation-duration: .15s;
          animation-duration: .15s;
}

@-webkit-keyframes sbx-reset-in {
  0% {
    -webkit-transform: translate3d(-20%, 0, 0);
            transform: translate3d(-20%, 0, 0);
    opacity: 0;
  }
  100% {
    -webkit-transform: none;
            transform: none;
    opacity: 1;
  }
}

@keyframes sbx-reset-in {
  0% {
    -webkit-transform: translate3d(-20%, 0, 0);
            transform: translate3d(-20%, 0, 0);
    opacity: 0;
  }
  100% {
    -webkit-transform: none;
            transform: none;
    opacity: 1;
  }
}

[layout*=column],
[layout*=row] {
    width: 100%;
    max-width: 100%
}

[layout^=row] {
    flex-direction: row
}

[layout^=column] {
    flex-direction: column
}

[layout*=row][layout*=reverse] {
    flex-direction: row-reverse
}

[layout*=column][layout*=reverse] {
    flex-direction: column-reverse
}

[layout*=columns],
[layout*=rows] {
    flex-wrap: wrap
}

[layout=none] {
    flex: none
}

[layout*=column][layout*=top-],
[layout*=row][layout*=-left] {
    justify-content: flex-start
}

[layout*=column][layout*=center-],
[layout*=row][layout*=-center],
[layout ~ =centered] {
    justify-content: center
}

[layout*=column][layout*=bottom-],
[layout*=row][layout*=-right] {
    justify-content: flex-end
}

[layout*=column][layout*=spread-],
[layout*=row][layout*=-spread] {
    justify-content: space-around
}

[layout*=column][layout*=justify-],
[layout*=row][layout*=-justify] {
    justify-content: space-between
}

[layout*=column][layout*=-left],
[layout*=row][layout*=top-] {
    align-items: flex-start
}

[layout*=column][layout*=-center],
[layout*=row][layout*=center-],
[layout ~ =centered] {
    align-items: center
}

[layout*=column][layout*=-right],
[layout*=row][layout*=bottom-] {
    align-items: flex-end
}

[layout*=column][layout*=-stretch],
[layout*=row][layout*=stretch-] {
    align-items: stretch
}

[layout*=columns][layout*=-left],
[layout*=rows][layout*=top-] {
    align-content: flex-start
}

[layout*=columns][layout*=-right],
[layout*=rows][layout*=bottom-] {
    align-content: flex-end
}

[layout*=columns][layout*=-center],
[layout*=rows][layout*=center-] {
    align-content: center
}

[layout*=columns][layout*=-justify],
[layout*=rows][layout*=justify-] {
    align-content: space-between
}

[layout*=columns][layout*=-spread],
[layout*=rows][layout*=spread-] {
    align-content: space-around
}

[layout*=columns][layout*=-stretch],
[layout*=rows][layout*=stretch-] {
    align-content: stretch
}

@media (-ms-high-contrast:none),
screen and (-ms-high-contrast:active) {
    [layout*=column]:not([layout*=row]) > * {
        max-width: auto
    }

    [layout*=column][self*=top] {
        height: auto !important
    }

    [self ~ =size-] > * {
        height: auto
    }
}

[layout*=column]:not([layout*=row]) [self*=left],
[layout*=row]:not([layout*=column]) [self*=top] {
    align-self: flex-start
}

[self ~ =center] {
    align-self: center
}

[layout*=column]:not([layout*=row]) [self*=right],
[layout*=row]:not([layout*=column]) [self*=bottom] {
    align-self: flex-end
}

[self*=stretch] {
    align-self: stretch
}

[layout][self*=center] {
    margin-left: auto;
    margin-right: auto
}

[layout][self*=right] {
    margin-right: 0
}

[layout][self*=left] {
    margin-left: 0
}

[layout*=column] [self*=bottom] {
    margin-top: auto
}

[layout*=column] [self*=top] {
    margin-bottom: auto
}

[layout*=row] [self*=left] {
    margin-right: auto
}

[layout*=row] [self*=right] {
    margin-left: auto
}

[self ~ =size-1of5] {
    width: 20%
}

[self ~ =size-1of4] {
    width: 25%
}

[self ~ =size-1of3] {
    width: 33.33333%
}

[self ~ =size-2of5] {
    width: 40%
}

[self ~ =size-1of2] {
    width: 50%
}

[self ~ =size-3of5] {
    width: 60%
}

[self ~ =size-2of3] {
    width: 66.6666%
}

[self ~ =size-3of4] {
    width: 75%
}

[self ~ =size-4of5] {
    width: 80%
}

[self ~ =size-1of1] {
    width: 100%
}

[layout*=column][layout*=stretch-] > :not([self*=size-]),
[layout*=row][layout*=-stretch] > :not([self*=size-]),
[self ~ =size-x1] {
    flex: 1 0 0% !important
}

[self ~ =size-x2] {
    flex: 2 0 0% !important
}

[self ~ =size-x3] {
    flex: 3 0 0% !important
}

[self ~ =size-x4] {
    flex: 4 0 0% !important
}

[self ~ =size-x5] {
    flex: 5 0 0% !important
}

[self ~ =size-x6] {
    flex: 6 0 0% !important
}

[self ~ =size-x7] {
    flex: 7 0 0% !important
}

[self ~ =size-x8] {
    flex: 8 0 0% !important
}

[self ~ =size-x9] {
    flex: 9 0 0% !important
}

[self*=size-auto] {
    flex: 1 1 auto
}

[self*=size-x0] {
    flex: 0 0 auto
}

[self ~ =size-xxlarge] {
    max-width: 1440px;
    width: 100%
}

[self ~ =size-xlarge] {
    max-width: 1200px;
    width: 100%
}

[self ~ =size-large] {
    max-width: 960px;
    width: 100%
}

[self ~ =size-larger] {
    max-width: 840px;
    width: 100%
}

[self ~ =size-medium] {
    max-width: 720px;
    width: 100%
}

[self ~ =size-smaller] {
    max-width: 600px;
    width: 100%
}

[self ~ =size-small] {
    max-width: 480px;
    width: 100%
}

[self ~ =size-xsmall] {
    max-width: 360px;
    width: 100%
}

[self ~ =size-xxsmall] {
    max-width: 240px;
    width: 100%
}

[self*=size-x]:not([self*=small]):not([self*=large]) {
    flex-shrink: 1
}

[self ~ =first] {
    order: -1
}

[self ~ =order-1] {
    order: 1
}

[self ~ =order-2] {
    order: 2
}

[self ~ =order-3] {
    order: 3
}

[self ~ =last] {
    order: 999
}

[layout*=column]:not([layout*=row]) > * {
    flex-shrink: 0;
    flex-basis: auto
}

@media screen and (max-width:64em) {
    [layout*=lg-row] {
        flex-direction: row
    }

    [layout*=lg-column] {
        flex-direction: column
    }

    [layout*=lg-columns],
    [layout*=lg-rows] {
        flex-wrap: wrap
    }
}

@media screen and (max-width:52em) {
    [layout*=md-row] {
        flex-direction: row
    }

    [layout*=md-column] {
        flex-direction: column
    }

    [layout*=md-columns],
    [layout*=md-rows] {
        flex-wrap: wrap
    }
}

@media screen and (max-width:40em) {
    [layout*=sm-row] {
        flex-direction: row
    }

    [layout*=sm-column] {
        flex-direction: column
    }

    [layout*=sm-columns],
    [layout*=sm-rows] {
        flex-wrap: wrap
    }
}

@media screen and (max-width:64em) {
    [self*=lg-full] {
        flex: 1 1 100% !important;
        width: 100%;
        max-width: 100%
    }

    [self*=lg-half] {
        flex: 1 1 50% !important;
        width: 50%;
        max-width: 50%
    }

    [self ~ =lg-first] {
        order: -1
    }

    [self ~ =lg-last] {
        order: 999
    }

    [self ~ =lg-hide] {
        display: none
    }

    [self ~ =lg-show] {
        display: inherit
    }
}

@media screen and (max-width:52em) {
    [self*=md-full] {
        flex: 1 1 100% !important;
        width: 100%;
        max-width: 100%
    }

    [self*=md-half] {
        flex: 1 1 50% !important;
        width: 50%;
        max-width: 50%
    }

    [self ~ =md-first] {
        order: -1
    }

    [self ~ =md-last] {
        order: 999
    }

    [self ~ =md-hide] {
        display: none
    }

    [self ~ =md-show] {
        display: inherit
    }
}

@media screen and (max-width:40em) {
    [self*=sm-full] {
        flex: 1 1 100% !important;
        width: 100%;
        max-width: 100%
    }

    [self*=sm-half] {
        flex: 1 1 50% !important;
        width: 50%;
        max-width: 50%
    }

    [self ~ =sm-first] {
        order: -1
    }

    [self ~ =sm-last] {
        order: 999
    }

    [self ~ =sm-hide] {
        display: none
    }

    [self ~ =sm-show] {
        display: inherit
    }
}

body,
html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: auto
}

html {
    font-size: 16px;
    box-sizing: border-box;
    -moz-box-sizing: border-box
}

*,
:after,
:before {
    box-sizing: inherit
}

body {
    font-family: var(--font__family);
    font-size: var(--font__size);
    font-weight: var(--font__weight);
    line-height: 1.5;
    color: var(--font__colour);
    background-color: var(--background__colour);
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale
}

@media (hover:hover) {
    ::-webkit-scrollbar {
        width: 16px;
        height: 16px
    }

    ::-webkit-scrollbar-track {
        background-color: var(--background__colour)
    }

    ::-webkit-scrollbar-thumb {
        width: 8px;
        height: 8px;
        min-height: 32px;
        background-color: hsla(0, 0%, 80%, .75);
        background-clip: padding-box;
        border: 4px solid transparent;
        border-radius: 8px
    }

    ::-webkit-scrollbar-thumb:hover {
        background-color: #ccc
    }
}

.margin__top--none {
    margin-top: 0
}

.margin__top--xx-small {
    margin-top: var(--spacing__xx-small)
}

.margin__top--x-small {
    margin-top: var(--spacing__x-small)
}

.margin__top--small {
    margin-top: var(--spacing__small)
}

.margin__top--medium {
    margin-top: var(--spacing__medium)
}

.margin__top--large {
    margin-top: var(--spacing__large)
}

.margin__top--x-large {
    margin-top: var(--spacing__x-large)
}

.margin__top--xx-large {
    margin-top: var(--spacing__xx-large)
}

.margin__right--none {
    margin-right: 0
}

.margin__right--xx-small {
    margin-right: var(--spacing__xx-small)
}

.margin__right--x-small {
    margin-right: var(--spacing__x-small)
}

.margin__right--small {
    margin-right: var(--spacing__small)
}

.margin__right--medium {
    margin-right: var(--spacing__medium)
}

.margin__right--large {
    margin-right: var(--spacing__large)
}

.margin__right--x-large {
    margin-right: var(--spacing__x-large)
}

.margin__right--xx-large {
    margin-right: var(--spacing__xx-large)
}

.margin__bottom--none {
    margin-bottom: 0
}

.margin__bottom--xx-small {
    margin-bottom: var(--spacing__xx-small)
}

.margin__bottom--x-small {
    margin-bottom: var(--spacing__x-small)
}

.margin__bottom--small {
    margin-bottom: var(--spacing__small)
}

.margin__bottom--medium {
    margin-bottom: var(--spacing__medium)
}

.margin__bottom--large {
    margin-bottom: var(--spacing__large)
}

.margin__bottom--x-large {
    margin-bottom: var(--spacing__x-large)
}

.margin__bottom--xx-large {
    margin-bottom: var(--spacing__xx-large)
}

.margin__left--none {
    margin-left: 0
}

.margin__left--xx-small {
    margin-left: var(--spacing__xx-small)
}

.margin__left--x-small {
    margin-left: var(--spacing__x-small)
}

.margin__left--small {
    margin-left: var(--spacing__small)
}

.margin__left--medium {
    margin-left: var(--spacing__medium)
}

.margin__left--large {
    margin-left: var(--spacing__large)
}

.margin__left--x-large {
    margin-left: var(--spacing__x-large)
}

.margin__left--xx-large {
    margin-left: var(--spacing__xx-large)
}

.margin__vertical--none {
    margin-top: 0;
    margin-bottom: 0
}

.margin__vertical--xx-small {
    margin-top: var(--spacing__xx-small);
    margin-bottom: var(--spacing__xx-small)
}

.margin__vertical--x-small {
    margin-top: var(--spacing__x-small);
    margin-bottom: var(--spacing__x-small)
}

.margin__vertical--small {
    margin-top: var(--spacing__small);
    margin-bottom: var(--spacing__small)
}

.margin__vertical--medium {
    margin-top: var(--spacing__medium);
    margin-bottom: var(--spacing__medium)
}

.margin__vertical--large {
    margin-top: var(--spacing__large);
    margin-bottom: var(--spacing__large)
}

.margin__vertical--x-large {
    margin-top: var(--spacing__x-large);
    margin-bottom: var(--spacing__x-large)
}

.margin__vertical--xx-large {
    margin-top: var(--spacing__xx-large);
    margin-bottom: var(--spacing__xx-large)
}

.margin__horizontal--none {
    margin-left: 0;
    margin-right: 0
}

.margin__horizontal--xx-small {
    margin-left: var(--spacing__xx-small);
    margin-right: var(--spacing__xx-small)
}

.margin__horizontal--x-small {
    margin-left: var(--spacing__x-small);
    margin-right: var(--spacing__x-small)
}

.margin__horizontal--small {
    margin-left: var(--spacing__small);
    margin-right: var(--spacing__small)
}

.margin__horizontal--medium {
    margin-left: var(--spacing__medium);
    margin-right: var(--spacing__medium)
}

.margin__horizontal--large {
    margin-left: var(--spacing__large);
    margin-right: var(--spacing__large)
}

.margin__horizontal--x-large {
    margin-left: var(--spacing__x-large);
    margin-right: var(--spacing__x-large)
}

.margin__horizontal--xx-large {
    margin-left: var(--spacing__xx-large);
    margin-right: var(--spacing__xx-large)
}

.margin__all--none {
    margin: 0
}

.margin__all--xx-small {
    margin: var(--spacing__xx-small)
}

.margin__all--x-small {
    margin: var(--spacing__x-small)
}

.margin__all--small {
    margin: var(--spacing__small)
}

.margin__all--medium {
    margin: var(--spacing__medium)
}

.margin__all--large {
    margin: var(--spacing__large)
}

.margin__all--x-large {
    margin: var(--spacing__x-large)
}

.margin__all--xx-large {
    margin: var(--spacing__xx-large)
}

.padding__top--none {
    padding-top: 0
}

.padding__top--xx-small {
    padding-top: var(--spacing__xx-small)
}

.padding__top--x-small {
    padding-top: var(--spacing__x-small)
}

.padding__top--small {
    padding-top: var(--spacing__small)
}

.padding__top--medium {
    padding-top: var(--spacing__medium)
}

.padding__top--large {
    padding-top: var(--spacing__large)
}

.padding__top--x-large {
    padding-top: var(--spacing__x-large)
}

.padding__top--xx-large {
    padding-top: var(--spacing__xx-large)
}

.padding__right--none {
    padding-right: 0
}

.padding__right--xx-small {
    padding-right: var(--spacing__xx-small)
}

.padding__right--x-small {
    padding-right: var(--spacing__x-small)
}

.padding__right--small {
    padding-right: var(--spacing__small)
}

.padding__right--medium {
    padding-right: var(--spacing__medium)
}

.padding__right--large {
    padding-right: var(--spacing__large)
}

.padding__right--x-large {
    padding-right: var(--spacing__x-large)
}

.padding__right--xx-large {
    padding-right: var(--spacing__xx-large)
}

.padding__bottom--none {
    padding-bottom: 0
}

.padding__bottom--xx-small {
    padding-bottom: var(--spacing__xx-small)
}

.padding__bottom--x-small {
    padding-bottom: var(--spacing__x-small)
}

.padding__bottom--small {
    padding-bottom: var(--spacing__small)
}

.padding__bottom--medium {
    padding-bottom: var(--spacing__medium)
}

.padding__bottom--large {
    padding-bottom: var(--spacing__large)
}

.padding__bottom--x-large {
    padding-bottom: var(--spacing__x-large)
}

.padding__bottom--xx-large {
    padding-bottom: var(--spacing__xx-large)
}

.padding__left--none {
    padding-left: 0
}

.padding__left--xx-small {
    padding-left: var(--spacing__xx-small)
}

.padding__left--x-small {
    padding-left: var(--spacing__x-small)
}

.padding__left--small {
    padding-left: var(--spacing__small)
}

.padding__left--medium {
    padding-left: var(--spacing__medium)
}

.padding__left--large {
    padding-left: var(--spacing__large)
}

.padding__left--x-large {
    padding-left: var(--spacing__x-large)
}

.padding__left--xx-large {
    padding-left: var(--spacing__xx-large)
}

.padding__vertical--none {
    padding-top: 0;
    padding-bottom: 0
}

.padding__vertical--xx-small {
    padding-top: var(--spacing__xx-small);
    padding-bottom: var(--spacing__xx-small)
}

.padding__vertical--x-small {
    padding-top: var(--spacing__x-small);
    padding-bottom: var(--spacing__x-small)
}

.padding__vertical--small {
    padding-top: var(--spacing__small);
    padding-bottom: var(--spacing__small)
}

.padding__vertical--medium {
    padding-top: var(--spacing__medium);
    padding-bottom: var(--spacing__medium)
}

.padding__vertical--large {
    padding-top: var(--spacing__large);
    padding-bottom: var(--spacing__large)
}

.padding__vertical--x-large {
    padding-top: var(--spacing__x-large);
    padding-bottom: var(--spacing__x-large)
}

.padding__vertical--xx-large {
    padding-top: var(--spacing__xx-large);
    padding-bottom: var(--spacing__xx-large)
}

.padding__horizontal--none {
    padding-left: 0;
    padding-right: 0
}

.padding__horizontal--xx-small {
    padding-left: var(--spacing__xx-small);
    padding-right: var(--spacing__xx-small)
}

.padding__horizontal--x-small {
    padding-left: var(--spacing__x-small);
    padding-right: var(--spacing__x-small)
}

.padding__horizontal--small {
    padding-left: var(--spacing__small);
    padding-right: var(--spacing__small)
}

.padding__horizontal--medium {
    padding-left: var(--spacing__medium);
    padding-right: var(--spacing__medium)
}

.padding__horizontal--large {
    padding-left: var(--spacing__large);
    padding-right: var(--spacing__large)
}

.padding__horizontal--x-large {
    padding-left: var(--spacing__x-large);
    padding-right: var(--spacing__x-large)
}

.padding__horizontal--xx-large {
    padding-left: var(--spacing__xx-large);
    padding-right: var(--spacing__xx-large)
}

.padding__all--none {
    padding: 0
}

.padding__all--xx-small {
    padding: var(--spacing__xx-small)
}

.padding__all--x-small {
    padding: var(--spacing__x-small)
}

.padding__all--small {
    padding: var(--spacing__small)
}

.padding__all--medium {
    padding: var(--spacing__medium)
}

.padding__all--large {
    padding: var(--spacing__large)
}

.padding__all--x-large {
    padding: var(--spacing__x-large)
}

.padding__all--xx-large {
    padding: var(--spacing__xx-large)
}

[grid] {
    display: grid;
    grid-gap: var(--spacing__small)
}

[grid^="1"] {
    grid-template-columns: repeat(1, 1fr)
}

[grid^="2"] {
    grid-template-columns: repeat(2, 1fr)
}

[grid^="3"] {
    grid-template-columns: repeat(3, 1fr)
}

[grid^="4"] {
    grid-template-columns: repeat(4, 1fr)
}

[grid^="5"] {
    grid-template-columns: repeat(5, 1fr)
}

[grid^="6"] {
    grid-template-columns: repeat(6, 1fr)
}

[grid^="7"] {
    grid-template-columns: repeat(7, 1fr)
}

[grid^="8"] {
    grid-template-columns: repeat(8, 1fr)
}

[grid^="9"] {
    grid-template-columns: repeat(9, 1fr)
}

[grid^="10"] {
    grid-template-columns: repeat(10, 1fr)
}

[grid^="11"] {
    grid-template-columns: repeat(11, 1fr)
}

[grid*=auto-] {
    justify-items: auto
}

[grid*=-auto] {
    align-items: auto
}

[grid-self^=auto] {
    justify-self: auto
}

[grid-self*=-auto] {
    align-self: auto
}

[grid*=start-] {
    justify-items: start
}

[grid*=-start] {
    align-items: start
}

[grid-self^=start] {
    justify-self: start
}

[grid-self*=-start] {
    align-self: start
}

[grid*=end-] {
    justify-items: end
}

[grid*=-end] {
    align-items: end
}

[grid-self^=end] {
    justify-self: end
}

[grid-self*=-end] {
    align-self: end
}

[grid*=center-] {
    justify-items: center
}

[grid*=-center] {
    align-items: center
}

[grid-self^=center] {
    justify-self: center
}

[grid-self*=-center] {
    align-self: center
}

[grid*=stretch-] {
    justify-items: stretch
}

[grid*=-stretch] {
    align-items: stretch
}

[grid-self^=stretch] {
    justify-self: stretch
}

[grid-self*=-stretch] {
    align-self: stretch
}

[grid-gap=none] {
    grid-gap: 0
}

[grid-gap=xx-small] {
    grid-gap: var(--spacing__xx-small)
}

[grid-gap|=xx-small] {
    grid-column-gap: var(--spacing__xx-small)
}

[grid-gap$=-xx-small] {
    grid-row-gap: var(--spacing__xx-small)
}

[grid-gap=x-small] {
    grid-gap: var(--spacing__x-small)
}

[grid-gap|=x-small] {
    grid-column-gap: var(--spacing__x-small)
}

[grid-gap$=-x-small] {
    grid-row-gap: var(--spacing__x-small)
}

[grid-gap=small] {
    grid-gap: var(--spacing__small)
}

[grid-gap|=small] {
    grid-column-gap: var(--spacing__small)
}

[grid-gap$=-small] {
    grid-row-gap: var(--spacing__small)
}

[grid-gap=medium] {
    grid-gap: var(--spacing__medium)
}

[grid-gap|=medium] {
    grid-column-gap: var(--spacing__medium)
}

[grid-gap$=-medium] {
    grid-row-gap: var(--spacing__medium)
}

[grid-gap=large] {
    grid-gap: var(--spacing__large)
}

[grid-gap|=large] {
    grid-column-gap: var(--spacing__large)
}

[grid-gap$=-large] {
    grid-row-gap: var(--spacing__large)
}

[grid-gap=x-large] {
    grid-gap: var(--spacing__x-large)
}

[grid-gap|=x-large] {
    grid-column-gap: var(--spacing__x-large)
}

[grid-gap$=-x-large] {
    grid-row-gap: var(--spacing__x-large)
}

[grid-gap=xx-large] {
    grid-gap: var(--spacing__xx-large)
}

[grid-gap|=xx-large] {
    grid-column-gap: var(--spacing__xx-large)
}

[grid-gap$=-xx-large] {
    grid-row-gap: var(--spacing__xx-large)
}

@media screen and (min-width:64em) {
    [grid*=lg-1] {
        grid-template-columns: repeat(1, 1fr)
    }

    [grid*=lg-2] {
        grid-template-columns: repeat(2, 1fr)
    }

    [grid*=lg-3] {
        grid-template-columns: repeat(3, 1fr)
    }

    [grid*=lg-4] {
        grid-template-columns: repeat(4, 1fr)
    }

    [grid*=lg-5] {
        grid-template-columns: repeat(5, 1fr)
    }

    [grid*=lg-6] {
        grid-template-columns: repeat(6, 1fr)
    }

    [grid*=lg-7] {
        grid-template-columns: repeat(7, 1fr)
    }

    [grid*=lg-8] {
        grid-template-columns: repeat(8, 1fr)
    }

    [grid*=lg-9] {
        grid-template-columns: repeat(9, 1fr)
    }

    [grid*=lg-10] {
        grid-template-columns: repeat(10, 1fr)
    }

    [grid*=lg-11] {
        grid-template-columns: repeat(11, 1fr)
    }
}

@media screen and (min-width:52em) {
    [grid*=md-1] {
        grid-template-columns: repeat(1, 1fr)
    }

    [grid*=md-2] {
        grid-template-columns: repeat(2, 1fr)
    }

    [grid*=md-3] {
        grid-template-columns: repeat(3, 1fr)
    }

    [grid*=md-4] {
        grid-template-columns: repeat(4, 1fr)
    }

    [grid*=md-5] {
        grid-template-columns: repeat(5, 1fr)
    }

    [grid*=md-6] {
        grid-template-columns: repeat(6, 1fr)
    }

    [grid*=md-7] {
        grid-template-columns: repeat(7, 1fr)
    }

    [grid*=md-8] {
        grid-template-columns: repeat(8, 1fr)
    }

    [grid*=md-9] {
        grid-template-columns: repeat(9, 1fr)
    }

    [grid*=md-10] {
        grid-template-columns: repeat(10, 1fr)
    }

    [grid*=md-11] {
        grid-template-columns: repeat(11, 1fr)
    }
}

@media screen and (min-width:40em) {
    [grid*=sm-1] {
        grid-template-columns: repeat(1, 1fr)
    }

    [grid*=sm-2] {
        grid-template-columns: repeat(2, 1fr)
    }

    [grid*=sm-3] {
        grid-template-columns: repeat(3, 1fr)
    }

    [grid*=sm-4] {
        grid-template-columns: repeat(4, 1fr)
    }

    [grid*=sm-5] {
        grid-template-columns: repeat(5, 1fr)
    }

    [grid*=sm-6] {
        grid-template-columns: repeat(6, 1fr)
    }

    [grid*=sm-7] {
        grid-template-columns: repeat(7, 1fr)
    }

    [grid*=sm-8] {
        grid-template-columns: repeat(8, 1fr)
    }

    [grid*=sm-9] {
        grid-template-columns: repeat(9, 1fr)
    }

    [grid*=sm-10] {
        grid-template-columns: repeat(10, 1fr)
    }

    [grid*=sm-11] {
        grid-template-columns: repeat(11, 1fr)
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    font-weight: var(--font__weight--heavy)
}

.link,
a {
    text-decoration: none
}

a {
    color: var(--colour__primary)
}

a:hover {
    color: var(--colour__primary--dark)
}

.link,
.link--inherit,
.link--inherit:hover {
    color: inherit
}

.text--meta {
    color: var(--font__colour--meta)
}

.text--medium {
    font-weight: var(--font__weight--medium)
}

.text--heavy,
strong {
    font-weight: var(--font__weight--heavy)
}

.text--small,
small {
    font-size: var(--font__size--small)
}

.text--x-small {
    font-size: var(--font__size--x-small)
}

.text--left {
    text-align: left
}

.text--centre {
    text-align: center
}

.text--right {
    text-align: right
}

.text--tight {
    line-height: 1
}

.text--no-wrap,
.text--truncate {
    overflow: hidden;
    white-space: nowrap
}

.text--truncate {
    text-overflow: ellipsis
}

@media (hover:hover) {
    a:hover {
        color: var(--colour__primary--dark)
    }
}

.button,
button {
    display: inline-block;
    padding: var(--spacing__x-small) var(--spacing__medium);
    font: inherit;
    font-weight: var(--font__weight--heavy);
    border: none;
    border-radius: var(--border__radius);
    background-color: #eee;
    cursor: pointer;
    transition: background var(--transition__timing) var(--transition__easing--default)
}

.button:focus,
.button:hover,
button:focus,
button:hover {
    background-color: #bbb
}

.button--primary {
    color: var(--font__colour--compliment);
    background-color: var(--colour__primary)
}

.button--primary:focus,
.button--primary:hover {
    background-color: var(--colour__primary--dark)
}

.button--ghost {
    font-weight: var(--font__weight)
}

.button--ghost,
.button--ghost:focus,
.button--ghost:hover {
    background: none
}

.button--ghost:focus {
    outline: none
}

input[type=date],
input[type=datetime],
input[type=email],
input[type=number],
input[type=password],
input[type=search],
input[type=text],
input[type=time],
select,
textarea {
    display: block;
    width: 100%;
    padding: var(--spacing__x-small) var(--spacing__small);
    color: inherit;
    font-size: var(--font__size);
    background-color: var(--background__colour);
    border: 1px solid var(--border__colour);
    border-radius: var(--border__radius);
    outline: none
}

input[type=range] {
    margin: 0;
    background-color: transparent;
    -webkit-appearance: none
}

input[type=range]:active,
input[type=range]:focus {
    outline: none
}

input[type=range]::-webkit-slider-runnable-track {
    box-sizing: border-box;
    width: 100%;
    height: .5rem;
    background: var(--background__colour--hover);
    border: none;
    border-radius: .25rem;
    cursor: pointer
}

input[type=range]::-moz-range-track {
    box-sizing: border-box;
    width: 100%;
    height: .5rem;
    background: var(--background__colour--hover);
    border: none;
    border-radius: .25rem;
    cursor: pointer
}

input[type=range]::-ms-track {
    box-sizing: border-box;
    width: 100%;
    height: .5rem;
    background: var(--background__colour--hover);
    border: none;
    border-radius: .25rem;
    cursor: pointer
}

input[type=range]::-webkit-slider-thumb {
    box-sizing: border-box;
    width: 1rem;
    height: 1rem;
    margin-top: -.25rem;
    background: var(--colour__primary);
    border: none;
    border-radius: 50%;
    -webkit-transition: background var(--transition__timing) var(--transition__easing--default);
    transition: background var(--transition__timing) var(--transition__easing--default);
    cursor: pointer;
    -webkit-appearance: none
}

input[type=range]::-webkit-slider-thumb:hover {
    background: var(--colour__primary--dark)
}

input[type=range]::-moz-range-thumb {
    box-sizing: border-box;
    width: 1rem;
    height: 1rem;
    margin-top: -.25rem;
    background: var(--colour__primary);
    border: none;
    border-radius: 50%;
    -moz-transition: background var(--transition__timing) var(--transition__easing--default);
    transition: background var(--transition__timing) var(--transition__easing--default);
    cursor: pointer;
    -webkit-appearance: none
}

input[type=range]::-moz-range-thumb:hover {
    background: var(--colour__primary--dark)
}

input[type=range]::-ms-thumb {
    box-sizing: border-box;
    width: 1rem;
    height: 1rem;
    background: var(--colour__primary);
    border: none;
    border-radius: 50%;
    -ms-transition: background var(--transition__timing) var(--transition__easing--default);
    transition: background var(--transition__timing) var(--transition__easing--default);
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: 0
}

input[type=range]::-ms-thumb:hover {
    background: var(--colour__primary--dark)
}

table {
    border-collapse: collapse
}

td,
th {
    padding: var(--spacing__x-small)
}

.table--fixed {
    width: 100%;
    max-width: 100%;
    table-layout: fixed
}

.menu {
    display: block
}

.menu-item {
    padding: var(--spacing__small);
    border-radius: var(--border__radius);
    cursor: pointer
}

.menu-item--active {
    color: var(--colour__primary)
}

@media (hover:hover) {
    .menu-item:hover {
        background-color: var(--background__colour--hover)
    }
}

.dot {
    display: inline-block;
    width: .5em;
    height: .5em;
    border-radius: 50%;
    vertical-align: middle;
    background-color: var(--border__colour)
}

.dot--large {
    width: 1em;
    height: 1em
}

@media (hover:hover) {
    [data-tooltip] {
        position: relative
    }

    [data-tooltip]:after {
        display: block;
        position: absolute;
        content: attr(data-tooltip);
        width: auto;
        padding: var(--spacing__xx-small) var(--spacing__x-small);
        font-size: var(--font__size--small);
        color: var(--tooltip__font-colour);
        white-space: nowrap;
        background: var(--tooltip__background);
        border-radius: 3px;
        overflow: hidden;
        opacity: 0;
        transition: opacity var(--transition__timing--long) var(--transition__easing--default) .5s
    }

    [data-tooltip]:hover:after {
        opacity: 1
    }

    [data-tooltip-position=bottom]:after,
    [data-tooltip-position=top]:after {
        left: 50%
    }

    [data-tooltip-position=left]:after,
    [data-tooltip-position=right]:after {
        top: 50%
    }

    [data-tooltip-position=top]:after {
        bottom: 100%;
        transform: translate(-50%, -.5rem)
    }

    [data-tooltip-position=bottom]:after {
        top: 100%;
        transform: translate(-50%, .5rem)
    }

    [data-tooltip-position=left]:after {
        right: 100%;
        transform: translate(-.5rem, -50%)
    }

    [data-tooltip-position=right]:after {
        left: 100%;
        transform: translate(.5rem, -50%)
    }
}

@-webkit-keyframes tooltip {
    0% {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

@keyframes tooltip {
    0% {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

.block__body,
.block__header {
    padding: var(--spacing__small)
}

.block__title {
    font-size: var(--font__size--small);
    font-weight: var(--font__weight--heavy);
    text-transform: uppercase
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto
}

.drawer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgba(0, 0, 0, .5);
    z-index: 100
}

.drawer__panel {
    position: absolute;
    background-color: var(--background__colour)
}

.drawer__panel--left,
.drawer__panel--right {
    top: 0;
    height: 100%;
    max-width: 80%
}

.drawer__panel--bottom,
.drawer__panel--top {
    left: 0;
    width: 100%;
    max-height: 80%
}

.drawer__panel--left {
    left: 0
}

.drawer__panel--right {
    right: 0
}

.drawer__panel--top {
    top: 0
}

.drawer__panel--bottom {
    bottom: 0
}

.drawer-enter-from,
.drawer-leave-to {
    background-color: transparent
}

.drawer-enter-from .drawer__panel--left,
.drawer-leave-to .drawer__panel--left {
    transform: translateX(-100%)
}

.drawer-enter-from .drawer__panel--right,
.drawer-leave-to .drawer__panel--right {
    transform: translateX(100%)
}

.drawer-enter-from .drawer__panel--top,
.drawer-leave-to .drawer__panel--top {
    transform: translateY(-100%)
}

.drawer-enter-from .drawer__panel--bottom,
.drawer-leave-to .drawer__panel--bottom {
    transform: translateY(100%)
}

.drawer-enter-active,
.drawer-leave-active {
    transition: background var(--transition__timing--long) var(--transition__easing--default)
}

.drawer-enter-active .drawer__panel,
.drawer-leave-active .drawer__panel {
    transition: transform var(--transition__timing--long) var(--transition__easing--default)
}

.icon {
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    fill: currentColor;
    stroke: none;
    vertical-align: middle
}

.icon-button {
    display: inline-flex;
    width: auto;
    padding: var(--spacing__x-small);
    cursor: pointer
}

.icon-button__label {
    margin: 0 0 0 var(--spacing__x-small)
}

.icon-button--vertical {
    flex-direction: column;
    align-items: center
}

.icon-button--vertical .icon-button__label {
    margin: var(--spacing__x-small) 0 0 0
}

@media (hover:hover) {
    .icon-button {
        border-radius: var(--border__radius)
    }

    .icon-button:hover {
        background-color: var(--background__colour--hover)
    }
}

.icon-label {
    display: inline-flex;
    width: auto
}

.icon-label__label {
    margin-left: var(--spacing__x-small)
}

.map {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden
}

.map__loader {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1
}

.mapbox-legend {
    position: absolute;
    top: var(--spacing__small);
    left: var(--spacing__small);
    padding: var(--spacing__x-small);
    background: none;
    border-radius: var(--border__radius);
    z-index: 1
}

.mapbox-legend--open {
    max-height: calc(100% - var(--spacing__large));
    background: var(--background__colour);
    box-shadow: 0 2px 4px rgba(30, 30, 30, .1);
    overflow: hidden;
    overflow-y: auto
}

.mapbox-legend__header {
    border-radius: var(--border__radius);
    background-color: var(--background__colour)
}

.mapbox-legend__legend {
    padding: var(--spacing__x-small)
}

.layout {
    display: grid;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    grid-template-columns: auto 1fr auto;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: "header header header""sidebar-left body sidebar-right""footer footer footer"
}

.layout__header {
    grid-area: header
}

.layout__body {
    grid-area: body;
    overflow: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch
}

.layout__footer {
    grid-area: footer
}

.layout__sidebar--left {
    grid-area: sidebar-left
}

.layout__sidebar--right {
    grid-area: sidebar-right
}

.loader {
    display: inline-block;
    position: relative;
    width: 1.5em;
    height: 1.5em;
    vertical-align: middle
}

.loader:after,
.loader:before {
    display: block;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-width: 2px;
    border-style: solid;
    border-radius: 50%
}

.loader:before {
    border-color: var(--background__colour--hover)
}

.loader:after {
    border-color: transparent
}

.loader--loading:after {
    -webkit-animation: loader .5s linear infinite;
    animation: loader .5s linear infinite;
    border-right-color: var(--colour__primary)
}

@-webkit-keyframes loader {
    0% {
        transform: rotate(-90deg)
    }

    to {
        transform: rotate(270deg)
    }
}

@keyframes loader {
    0% {
        transform: rotate(-90deg)
    }

    to {
        transform: rotate(270deg)
    }
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
    overflow: hidden;
    z-index: 100
}

.modal,
.modal__body {
    padding: var(--spacing__medium)
}

.modal__body {
    max-height: 100%;
    background-color: var(--background__colour);
    border-radius: var(--border__radius--large);
    overflow-y: auto;
    -webkit-overflow-scrolling: touch
}

.modal-enter-from,
.modal-leave-to {
    opacity: 0
}

.modal-enter-from .modal__body,
.modal-leave-to .modal__body {
    transform: scale(.75)
}

.modal-enter-active,
.modal-leave-active {
    transition: opacity var(--transition__timing) var(--transition__easing--default)
}

.modal-enter-active .modal__body,
.modal-leave-active .modal__body {
    transition: transform var(--transition__timing) var(--transition__easing--default)
}

.search-box {
    display: inline-flex;
    padding: var(--spacing__x-small) var(--spacing__small);
    border: 1px solid var(--border__colour);
    border-radius: var(--border__radius)
}

.search-box .search-box__input {
    width: 100%;
    padding: 0;
    border: none
}

.transition-box-resize-enter,
.transition-box-resize-leave {
    overflow: hidden !important
}

.transition-box-resize-enter-active,
.transition-box-resize-leave-active {
    transition: width var(--transition__timing--long) var(--transition__easing--default), height var(--transition__timing--long) var(--transition__easing--default)
}

.theme--default {
    --font__colour: #353539;
    --background__colour: #fff;
    --background__colour--hover: #eee;
    --border__colour: #ededed
}

.phase--night.theme--default {
    --font__colour: #f7f7f7;
    --background__colour: #333;
    --background__colour--hover: #444;
    --border__colour: #777
}

@media (prefers-color-scheme:dark) {
    .theme--default {
        --font__colour: #f7f7f7;
        --background__colour: #333;
        --background__colour--hover: #444;
        --border__colour: #777
    }
}

.theme--light {
    --font__colour: #353539;
    --background__colour: #fff;
    --background__colour--hover: #eee;
    --border__colour: #ededed
}

.theme--dark {
    --font__colour: #f7f7f7;
    --background__colour: #333;
    --background__colour--hover: #444;
    --border__colour: #777
}

.theme--weather-clear {
    --font__colour--weather: #fff;
    --background__colour--weather: #5d9be5
}

.phase--night .theme--weather-clear {
    --background__colour--weather: #44296a
}

.theme--weather-partly-cloudy {
    --font__colour--weather: #fff;
    --background__colour--weather: #5d9be5
}

.phase--night .theme--weather-partly-cloudy {
    --background__colour--weather: #44296a
}

.theme--weather-rainy {
    --font__colour--weather: #fff;
    --background__colour--weather: #aaa
}

.weather-layout__empty-state {
    text-align: center
}

.settings-layout__header,
.weather-layout__empty-state {
    padding: var(--spacing__large)
}

.settings-layout__body {
    padding-bottom: var(--spacing__large)
}

.settings-item {
    position: relative
}

.settings-item select {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0
}

.settings-index__header {
    padding: var(--spacing__large)
}

.settings-index__body {
    padding: 0 var(--spacing__small)
}

.settings-index__block:not(:last-of-type) {
    margin-bottom: var(--spacing__small)
}

.settings-index__block .block__title {
    color: var(--font__colour--meta)
}

.settings-index__block .block__body {
    padding: var(--spacing__small) 0
}

.settings-locations__locations {
    padding: 0 var(--spacing__small)
}

.weather-observation {
    display: inline-flex;
    width: auto;
    overflow: hidden;
    padding: var(--spacing__x-small) var(--spacing__small);
    background: var(--background__colour--hover);
    border-radius: var(--border__radius)
}

.forecast-daily__days {
    margin: calc(var(--spacing__x-small)*-1)
}

.forecast-daily__days tr td:first-of-type {
    border-top-left-radius: var(--border__radius);
    border-bottom-left-radius: var(--border__radius)
}

.forecast-daily__days tr td:last-of-type {
    border-top-right-radius: var(--border__radius);
    border-bottom-right-radius: var(--border__radius)
}

.forecast-daily__precip-icon {
    display: block;
    width: 1em;
    height: 1em;
    margin-left: var(--spacing__xx-small);
    fill: var(--colour__primary)
}

.forecast-daily__day-column {
    padding: var(--spacing__x-small);
    text-align: center;
    vertical-align: middle
}

.forecast-daily__day-column--label {
    width: 100%;
    text-align: left
}

.forecast-daily__day-column--precip {
    text-align: right
}

.forecast-daily__day-column--min {
    color: var(--font__colour--meta)
}

.forecast-daily__day-body td {
    padding: 0
}

.forecast-daily__day-body .accordion-pane {
    width: 100%;
    overflow: hidden
}

.forecast-daily__day-details {
    padding: var(--spacing__small) var(--spacing__x-small) var(--spacing__large)
}

.forecast-daily__day-observation {
    font-size: var(--font__size--small)
}

.line-chart {
    width: 100%;
    height: 100%
}

.trends-chart {
    overflow: hidden;
    overflow-x: auto
}

.trends-chart__body {
    display: inline-grid;
    padding-bottom: var(--spacing__small);
    grid-auto-flow: column;
    row-gap: var(--spacing__x-small);
    width: auto
}

.trends-chart__chart {
    grid-column: 1/-1;
    height: 196px
}

.trends-chart__column {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: 0 var(--spacing__xx-small);
    text-align: center
}

.trends-chart__later,
.trends-chart__now {
    grid-row: 2/-1
}

.trends-chart__later-label,
.trends-chart__now-label {
    color: var(--font__colour--meta);
    font-size: var(--font__size--x-small);
    text-transform: uppercase;
    transform-origin: center
}

.trends-chart__now-label {
    transform: rotate(90deg)
}

.trends-chart__later-label {
    transform: rotate(-90deg)
}

:root {
    --font__size: 14px;
    --font__size--small: 0.875em;
    --font__size--x-small: 0.75em;
    --font__size--large: 1.25em;
    --font__size--x-large: 1.5em;
    --font__weight: 400;
    --font__weight--medium: 500;
    --font__weight--heavy: 700;
    --font__family: "DM Sans", sans-serif;
    --font__colour: #353539;
    --font__colour--compliment: #f7f7f7;
    --font__colour--meta: #99a;
    --transition__timing: 250ms;
    --transition__timing--long: 400ms;
    --transition__timing--fade: 1s;
    --transition__easing--default: cubic-bezier(0.165, 0.84, 0.44, 1);
    --colour__primary: #5d9be5;
    --colour__primary--light: #b5d1f3;
    --colour__primary--dark: #1e67be;
    --background__colour: #fff;
    --background__colour--hover: #eee;
    --border__colour: #ededed;
    --border__radius: 5px;
    --border__radius--large: 1rem;
    --tooltip__background: #333;
    --tooltip__font-colour: #fff;
    --spacing__xx-small: .25rem;
    --spacing__x-small: .5rem;
    --spacing__small: 1rem;
    --spacing__medium: 1.5rem;
    --spacing__large: 2rem;
    --spacing__x-large: 3rem;
    --spacing__xx-large: 4rem
}

.forecast-hourly__header {
    padding: 0 var(--spacing__medium) 0 var(--spacing__large)
}

.forecast-hourly__options {
    width: auto
}

.forecast-today__observation {
    text-align: center
}

.forecast-uv-index__bar-wrapper {
    padding: 2rem 0 var(--spacing__x-small) 0
}

.forecast-uv-index__bar {
    position: relative;
    display: block;
    width: 100%;
    height: .5rem;
    border-radius: .25rem
}

.forecast-uv-index__marker {
    position: absolute;
    top: 0;
    left: 0;
    width: .5em;
    height: 100%;
    border-radius: 50%;
    background-color: var(--background__colour--hover);
    transform: translateX(-50%);
    overflow: visible;
    transition: left var(--transition__timing--long) var(--transition__easing--default)
}

.forecast-uv-index__marker:after,
.forecast-uv-index__marker:before {
    position: absolute;
    display: block;
    content: "";
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%)
}

.forecast-uv-index__marker:before {
    margin-bottom: .1rem;
    border-top: .5rem solid var(--background__colour--hover);
    border-left: .5rem solid transparent;
    border-right: .5rem solid transparent
}

.forecast-uv-index__marker:after {
    content: attr(data-value);
    margin-bottom: .6rem;
    padding: var(--spacing__xx-small) var(--spacing__x-small);
    font-size: var(--font__size--small);
    font-weight: var(--font__weight--heavy);
    background: var(--background__colour--hover);
    border-radius: var(--border__radius)
}

.forecast-uv-index__legend-key {
    width: auto;
    margin: var(--spacing__xx-small) var(--spacing__x-small)
}

.forecast-tides__header {
    padding: 0 var(--spacing__large)
}

.forecast-tides__observation {
    text-align: center
}

.forecast-tides__trends {
    margin: var(--spacing__small) 0
}

.forecast-tides__disclaimer {
    text-align: center
}

.settings-sections__sections {
    padding: 0 var(--spacing__small)
}

.settings-sections__section {
    padding: var(--spacing__x-small) var(--spacing__small);
    cursor: default
}

.sections-move {
    transition: transform var(--transition__timing) var(--transition__easing--default)
}

.settings-themes__themes {
    padding: 0 var(--spacing__large)
}

.settings-themes__theme {
    position: relative;
    color: var(--font__colour);
    background-color: var(--background__colour);
    border: 1px solid var(--border__colour);
    border-radius: var(--border__radius);
    overflow: hidden
}

.settings-themes__theme:after {
    display: block;
    content: "";
    padding-bottom: 100%
}

.settings-themes__theme-check {
    position: absolute;
    top: var(--spacing__x-small);
    right: var(--spacing__x-small);
    padding: var(--spacing__xx-small);
    color: var(--font__colour--compliment);
    background-color: var(--colour__primary);
    border-radius: 50%
}

.settings-themes__theme-check .icon {
    display: block
}

.settings-about__body {
    padding: 0 var(--spacing__small)
}

.settings-about__header {
    text-align: center;
    margin-bottom: var(--spacing__large)
}

.settings-about__title {
    text-transform: uppercase;
    letter-spacing: .2em
}

.settings-about__logo {
    width: 96px
}

.settings-about__block:not(:last-of-type) {
    margin-bottom: var(--spacing__small)
}

.settings-about__block .block__title {
    color: var(--font__colour--meta)
}

.settings-about__details-grid {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-gap: var(--spacing__x-small) var(--spacing__small)
}

.settings-maps-display__options {
    padding: 0 var(--spacing__large)
}

.settings-maps-display__slider {
    display: block;
    width: 100%
}

.settings-maps-display__map {
    width: 100%;
    height: 33vh;
    border: 1px solid var(--border__colour);
    border-radius: var(--border__radius);
    overflow: hidden
}

.location-modal .modal__body {
    padding: var(--spacing__small)
}

.location-modal__search {
    width: 100%;
    border: none
}

.app {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: var(--font__colour);
    background-color: var(--background__colour)
}

.app__nav {
    border-top: 1px solid var(--border__colour)
}

.app__nav-container {
    padding: var(--spacing__x-small) var(--spacing__medium)
}

.app__route {
    display: block
}

.app__route,
.app__route:hover {
    color: inherit
}

.app__route.router-link-active {
    color: var(--colour__primary)
}

.app__route-button {
    display: flex
}

.route {
    width: 100%;
    height: 100%;
    overflow: hidden;
    overflow-y: auto
}

.transition-theme-change {
    transition: color var(--transition__timing--fade) var(--transition__easing--default), background var(--transition__timing--fade) var(--transition__easing--default)
}
